In [1]:
import pandas as pd

In [2]:
#reading the csv in dataframe
df=pd.read_csv(r'vehicle_collisions.csv')

In [22]:
#converting the data object to datatime 
df['DATE'] = pd.to_datetime(df['DATE'], coerce=True)

C:\Users\ayush\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: the coerce=True keyword is deprecated, use errors='coerce' instead
  if __name__ == '__main__':

In [23]:
#extracting the month from the Date column
df['Month']=df['DATE'].dt.strftime('%B')

In [27]:
df.head()

,UNIQUE KEY,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE,VEHICLE 1 FACTOR,VEHICLE 2 FACTOR,VEHICLE 3 FACTOR,VEHICLE 4 FACTOR,VEHICLE 5 FACTOR,Year,Month
0,3146911,2015-01-01,0:20,QUEENS,11358.0,40.751847,-73.787862,"(40.7518471, -73.787862)",47 AVENUE,193 STREET,...,NaN,NaN,NaN,TRAFFIC CONTROL DISREGARDED,NaN,NaN,NaN,NaN,2015,January
1,3146180,2015-01-01,0:20,NaN,NaN,40.771289,-73.946693,"(40.7712888, -73.9466928)",NaN,NaN,...,NaN,NaN,NaN,ANIMALS ACTION,NaN,NaN,NaN,NaN,2015,January
2,3146384,2015-01-01,0:21,BROOKLYN,11205.0,40.689445,-73.955121,"(40.6894449, -73.9551212)",BEDFORD AVENUE,LAFAYETTE AVENUE,...,NaN,NaN,NaN,FATIGUED/DROWSY,UNSPECIFIED,NaN,NaN,NaN,2015,January
3,3146013,2015-01-01,0:30,BROOKLYN,11213.0,40.673845,-73.925080,"(40.6738445, -73.9250801)",BUFFALO AVENUE,SAINT MARKS AVENUE,...,NaN,NaN,NaN,LOST CONSCIOUSNESS,NaN,NaN,NaN,NaN,2015,January
4,3146120,2015-01-01,0:33,NaN,NaN,NaN,NaN,NaN,RICHMOND TERRACE,SOUTH AVENUE,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2015,January

In [26]:
#df['Year'] = df['DATE'].apply(lambda x:x.split('/')[2])
#df.Year.unique()
#df['Month'] = df['DATE'].apply(lambda x:x.split('/')[0])

#taking the Year from the Date column
df['Year'] = df['DATE'].dt.year

In [29]:
# Taking only the values from the datframe where year is 2016
df_1=df[df.Year==2016]
df_1

,UNIQUE KEY,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE,VEHICLE 1 FACTOR,VEHICLE 2 FACTOR,VEHICLE 3 FACTOR,VEHICLE 4 FACTOR,VEHICLE 5 FACTOR,Year,Month
217539,3374565,2016-01-01,0:01,MANHATTAN,10022.0,40.760223,-73.967462,"(40.7602226, -73.967462)",EAST 57 STREET,3 AVENUE,...,NaN,NaN,NaN,OTHER VEHICULAR,OTHER VEHICULAR,NaN,NaN,NaN,2016,January
217540,3511927,2016-01-01,0:01,BROOKLYN,11235.0,NaN,NaN,NaN,EMMONS AVENUE,OCEAN AVENUE,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,January
217541,3363408,2016-01-01,0:01,MANHATTAN,10035.0,40.805057,-73.939034,"(40.8050573, -73.9390342)",EAST 125 STREET,PARK AVENUE,...,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN,2016,January
217542,3364610,2016-01-01,0:05,MANHATTAN,10035.0,40.799258,-73.939050,"(40.7992577, -73.9390504)",3 AVENUE,EAST 118 STREET,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,January
217543,3363371,2016-01-01,0:15,MANHATTAN,10011.0,40.738552,-73.999682,"(40.738552, -73.9996824)",7 AVENUE,WEST 14 STREET,...,NaN,NaN,NaN,LOST CONSCIOUSNESS,UNSPECIFIED,NaN,NaN,NaN,2016,January
217544,3363808,2016-01-01,0:23,BROOKLYN,11207.0,40.653419,-73.888970,"(40.6534188, -73.88897)",GEORGIA AVENUE,COZINE AVENUE,...,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NaN,NaN,NaN,2016,January
217545,3363916,2016-01-01,0:25,QUEENS,11427.0,40.729034,-73.743863,"(40.7290337, -73.7438625)",89 AVENUE,SPRINGFIELD BOULEVARD,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,January
217546,3363584,2016-01-01,0:30,NaN,NaN,40.737556,-73.850881,"(40.7375562, -73.8508811)",NaN,NaN,...,NaN,NaN,NaN,TURNING IMPROPERLY,UNSPECIFIED,NaN,NaN,NaN,2016,January
217547,3363558,2016-01-01,0:33,QUEENS,11419.0,40.684137,-73.824123,"(40.6841371, -73.8241226)",107 AVENUE,118 STREET,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,January
217548,3363566,2016-01-01,0:50,QUEENS,11417.0,40.681385,-73.847475,"(40.6813845, -73.8474752)",ROCKAWAY BOULEVARD,92 STREET,...,NaN,NaN,NaN,FAILURE TO YIELD RIGHT-OF-WAY,NaN,NaN,NaN,NaN,2016,January
217549,3370573,2016-01-01,0:51,MANHATTAN,10040.0,40.863572,-73.926012,"(40.8635725, -73.9260124)",SHERMAN AVENUE,DYCKMAN STREET,...,NaN,NaN,NaN,OTHER VEHICULAR,LOST CONSCIOUSNESS,NaN,NaN,NaN,2016,January
217550,3364217,2016-01-01,10:00,BROOKLYN,11207.0,40.675736,-73.896853,"(40.6757357, -73.8968533)",PENNSYLVANIA AVENUE,ATLANTIC AVENUE,...,NaN,NaN,NaN,ALCOHOL INVOLVEMENT,UNSPECIFIED,NaN,NaN,NaN,2016,January
217551,3363892,2016-01-01,10:00,QUEENS,11435.0,40.693080,-73.803818,"(40.6930797, -73.8038184)",LIVERPOOL STREET,SOUTH ROAD,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,January
217552,3363749,2016-01-01,10:00,BROOKLYN,11224.0,40.580379,-73.967600,"(40.5803795, -73.9676001)",OCEAN PARKWAY,NEPTUNE AVENUE,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,January
217553,3363931,2016-01-01,10:00,QUEENS,11101.0,40.744733,-73.933589,"(40.7447332, -73.9335895)",VANDAM STREET,THOMSON AVENUE,...,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NaN,NaN,NaN,2016,January
217554,3363475,2016-01-01,10:17,BRONX,10468.0,40.876976,-73.889660,"(40.876976, -73.8896598)",PAUL AVENUE,WEST 205 STREET,...,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,NaN,2016,January
217555,3363579,2016-01-01,10:20,QUEENS,11373.0,40.736643,-73.865831,"(40.7366431, -73.8658311)",57 AVENUE,JUNCTION BOULEVARD,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,January
217556,3363903,2016-01-01,10:30,QUEENS,11385.0,40.710967,-73.916003,"(40.7109667, -73.9160027)",WOODWARD AVENUE,WILLOUGHBY AVENUE,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,January
217557,3417381,2016-01-01,10:30,BROOKLYN,11210.0,40.635610,-73.951882,"(40.6356103, -73.9518823)",NaN,NaN,...,NaN,NaN,NaN,BACKING UNSAFELY,BACKING UNSAFELY,NaN,NaN,NaN,2016,January
217558,3364239,2016-01-01,10:30,BROOKLYN,11216.0,40.680390,-73.949557,"(40.6803904, -73.949557)",NOSTRAND AVENUE,FULTON STREET,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,January
217559,3364001,2016-01-01,10:30,NaN,NaN,40.621250,-74.168876,"(40.6212504, -74.1688765)",NaN,NaN,...,NaN,NaN,NaN,TURNING IMPROPERLY,UNSPECIFIED,NaN,NaN,NaN,2016,January
217560,3363682,2016-01-01,10:40,BRONX,10455.0,40.812666,-73.906330,"(40.8126657, -73.90633)",EAST 149 STREET,TINTON AVENUE,...,SPORT UTILITY/STATION WAGON,NaN,NaN,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,NaN,NaN,2016,January
217561,3363819,2016-01-01,10:55,BROOKLYN,11213.0,40.668950,-73.933888,"(40.6689504, -73.9338885)",EASTERN PARKWAY,SCHENECTADY AVENUE,...,PASSENGER VEHICLE,NaN,NaN,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,NaN,NaN,2016,January
217562,3363402,2016-01-01,11:00,NaN,NaN,40.781937,-73.944271,"(40.7819374, -73.9442713)",NaN,NaN,...,TAXI,NaN,NaN,TURNING IMPROPERLY,UNSPECIFIED,UNSPECIFIED,NaN,NaN,2016,January
217563,3363995,2016-01-01,11:10,QUEENS,11370.0,40.763053,-73.886730,"(40.7630535, -73.8867296)",82 STREET,25 AVENUE,...,NaN,NaN,NaN,ALCOHOL INVOLVEMENT,NaN,NaN,NaN,NaN,2016,January
217564,3363377,2016-01-01,11:27,MANHATTAN,10010.0,40.738797,-73.977147,"(40.7387967, -73.977147)",1 AVENUE,EAST 26 STREET,...,TAXI,NaN,NaN,ILLNESS,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NaN,NaN,2016,January
217565,3363508,2016-01-01,11:30,BROOKLYN,11209.0,40.614814,-74.029402,"(40.6148138, -74.0294019)",95 STREET,FORT HAMILTON PARKWAY,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,January
217566,3363357,2016-01-01,11:30,MANHATTAN,10013.0,40.725673,-74.005780,"(40.7256734, -74.0057798)",VARICK STREET,SPRING STREET,...,NaN,NaN,NaN,PRESCRIPTION MEDICATION,UNSPECIFIED,NaN,NaN,NaN,2016,January
217567,3363422,2016-01-01,11:40,BRONX,10459.0,40.818890,-73.896082,"(40.8188902, -73.8960823)",INTERVALE AVENUE,BECK STREET,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,January
217568,3364419,2016-01-01,11:40,QUEENS,11102.0,40.772699,-73.932684,"(40.7726989, -73.9326843)",ASTORIA BOULEVARD,8 STREET,...,NaN,NaN,NaN,PHYSICAL DISABILITY,UNSPECIFIED,NaN,NaN,NaN,2016,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445114,3593935,2016-12-31,6:49,NaN,NaN,NaN,NaN,NaN,MONTAUK AVENUE,NaN,...,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NaN,NaN,NaN,2016,December
445115,3590463,2016-12-31,6:50,BROOKLYN,11217.0,40.683514,-73.975951,"(40.6835142, -73.9759509)",ATLANTIC AVENUE,FORT GREENE PLACE,...,NaN,NaN,NaN,FAILURE TO YIELD RIGHT-OF-WAY,UNSPECIFIED,NaN,NaN,NaN,2016,December
445116,3589645,2016-12-31,7:00,QUEENS,11357.0,40.789224,-73.804571,"(40.7892244, -73.8045715)",NaN,NaN,...,SPORT UTILITY/STATION WAGON,NaN,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,UNSPECIFIED,NaN,NaN,2016,December
445117,3590483,2016-12-31,7:15,BROOKLYN,11237.0,40.704208,-73.914569,"(40.704208, -73.9145686)",NaN,NaN,...,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN,2016,December
445118,3589740,2016-12-31,7:30,NaN,NaN,NaN,NaN,NaN,HEATH AVENUE,BAILEY AVENUE,...,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN,2016,December
445119,3590868,2016-12-31,7:45,NaN,NaN,NaN,NaN,NaN,1 AVENUE,NaN,...,NaN,NaN,NaN,OUTSIDE CAR DISTRACTION,UNSPECIFIED,NaN,NaN,NaN,2016,December
445120,3589646,2016-12-31,7:48,NaN,NaN,NaN,NaN,NaN,WEST 10 STREET,NaN,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,December
445121,3590765,2016-12-31,7:51,MANHATTAN,10128.0,40.782736,-73.955336,"(40.7827364, -73.9553364)",EAST 90 STREET,PARK AVENUE,...,SPORT UTILITY/STATION WAGON,SPORT UTILITY/STATION WAGON,NaN,ALCOHOL INVOLVEMENT,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,NaN,2016,December
445122,3590354,2016-12-31,8:00,BROOKLYN,11221.0,40.692148,-73.919459,"(40.6921483, -73.9194594)",GATES AVENUE,EVERGREEN AVENUE,...,NaN,NaN,NaN,TRAFFIC CONTROL DISREGARDED,UNSPECIFIED,NaN,NaN,NaN,2016,December
445123,3590090,2016-12-31,8:14,BROOKLYN,11226.0,40.645722,-73.958073,"(40.6457217, -73.9580731)",NaN,NaN,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,December
445124,3590129,2016-12-31,8:35,BRONX,10466.0,40.890918,-73.858760,"(40.8909183, -73.8587599)",NaN,NaN,...,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN,2016,December
445125,3594298,2016-12-31,8:35,BROOKLYN,11203.0,40.660656,-73.930321,"(40.6606563, -73.9303212)",RUTLAND ROAD,EAST 51 STREET,...,SPORT UTILITY/STATION WAGON,NaN,NaN,OTHER VEHICULAR,UNSPECIFIED,UNSPECIFIED,NaN,NaN,2016,December
445126,3589868,2016-12-31,8:35,NaN,NaN,40.740844,-73.726796,"(40.7408436, -73.7267962)",NaN,NaN,...,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NaN,NaN,NaN,2016,December
445127,3589719,2016-12-31,9:00,BROOKLYN,11206.0,40.703864,-73.938333,"(40.7038636, -73.9383333)",NaN,NaN,...,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NaN,NaN,NaN,2016,December
445128,3590014,2016-12-31,9:00,NaN,NaN,NaN,NaN,NaN,125 STREET,NaN,...,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN,2016,December
445129,3592359,2016-12-31,9:00,QUEENS,11368.0,40.743231,-73.866042,"(40.7432307, -73.8660416)",NaN,NaN,...,NaN,NaN,NaN,ALCOHOL INVOLVEMENT,UNSPECIFIED,NaN,NaN,NaN,2016,December
445130,3590562,2016-12-31,9:00,BROOKLYN,11210.0,40.629480,-73.944469,"(40.6294805, -73.9444689)",NEW YORK AVENUE,AVENUE I,...,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN,2016,December
445131,3590893,2016-12-31,9:00,NaN,NaN,NaN,NaN,NaN,WILLOUGHBY AVENUE,NaN,...,NaN,NaN,NaN,OTHER VEHICULAR,OTHER VEHICULAR,NaN,NaN,NaN,2016,December
445132,3589936,2016-12-31,9:00,BRONX,10456.0,40.827911,-73.904195,"(40.8279109, -73.9041947)",NaN,NaN,...,NaN,NaN,NaN,UNSAFE SPEED,NaN,NaN,NaN,NaN,2016,December
445133,3590948,2016-12-31,9:00,BROOKLYN,11201.0,40.701359,-73.982851,"(40.7013592, -73.982851)",YORK STREET,GOLD STREET,...,NaN,NaN,NaN,ILLNESS,UNSPECIFIED,NaN,NaN,NaN,2016,December
445134,3589741,2016-12-31,9:15,NaN,NaN,NaN,NaN,NaN,EAST 196 STREET,NaN,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,December
445135,3589873,2016-12-31,9:15,QUEENS,11422.0,40.662657,-73.732998,"(40.6626567, -73.7329976)",FRANCIS LEWIS BOULEVARD,249 STREET,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,December
445136,3589884,2016-12-31,9:30,QUEENS,11367.0,40.717301,-73.825143,"(40.717301, -73.8251426)",NaN,NaN,...,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN,2016,December
445137,3590072,2016-12-31,9:35,NaN,NaN,NaN,NaN,NaN,HILLSIDE AVENUE,202 STREET,...,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,DRIVER INATTENTION/DISTRACTION,NaN,NaN,NaN,2016,December
445138,3590467,2016-12-31,9:35,BROOKLYN,11235.0,NaN,NaN,NaN,EAST 16 STREET,SHEEPSHEAD BAY ROAD,...,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN,2016,December
445139,3589785,2016-12-31,9:37,QUEENS,11355.0,40.755958,-73.828517,"(40.7559578, -73.828517)",NaN,NaN,...,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN,2016,December
445140,3593758,2016-12-31,9:40,BROOKLYN,11225.0,40.669114,-73.953354,"(40.6691137, -73.9533541)",ROGERS AVENUE,UNION STREET,...,NaN,NaN,NaN,PASSING OR LANE USAGE IMPROPER,UNSPECIFIED,NaN,NaN,NaN,2016,December
445141,3589918,2016-12-31,9:50,NaN,NaN,NaN,NaN,NaN,JESUP AVENUE,NaN,...,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2016,December
445142,3590568,2016-12-31,9:55,BRONX,10462.0,40.835210,-73.854972,"(40.8352098, -73.8549717)",UNIONPORT ROAD,OLMSTEAD AVENUE,...,NaN,NaN,NaN,TRAFFIC CONTROL DISREGARDED,DRIVER INATTENTION/DISTRACTION,NaN,NaN,NaN,2016,December
445143,3589858,2016-12-31,9:56,NaN,NaN,NaN,NaN,NaN,2 AVENUE,NaN,...,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,DRIVER INATTENTION/DISTRACTION,NaN,NaN,NaN,2016,December

In [30]:
# grouping all the Collisions that took place in NY during the year 2016 by month
df_NY=df_1.groupby('Month').count().reset_index()

In [31]:
df_NY

,Month,UNIQUE KEY,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,...,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE,VEHICLE 1 FACTOR,VEHICLE 2 FACTOR,VEHICLE 3 FACTOR,VEHICLE 4 FACTOR,VEHICLE 5 FACTOR,Year
0,April,18331,18331,18331,14042,14036,15063,15063,15063,13544,...,14833,1140,267,60,17738,16123,1202,275,63,18331
1,August,19678,19678,19678,12235,12233,2496,2496,2496,12233,...,16616,1306,270,67,19666,17911,1368,280,70,19678
2,December,19214,19214,19214,11964,11959,13265,13265,13265,12686,...,12910,1273,422,92,19096,15699,1456,478,102,19214
3,February,15985,15985,15985,12173,12173,13560,13560,13560,13547,...,14090,956,206,64,15922,13818,962,207,64,15985
4,January,18101,18101,18101,13954,13953,15398,15398,15398,15506,...,16051,1071,229,72,18026,15756,1068,235,70,18101
5,July,19867,19867,19867,12974,12973,12525,12525,12525,12764,...,16811,1357,295,65,19862,18174,1427,301,66,19867
6,June,19433,19433,19433,12496,12493,13972,13972,13972,12633,...,16383,1291,290,72,19428,17958,1364,309,74,19433
7,March,18471,18471,18471,13976,13972,15254,15254,15254,14118,...,15599,1105,213,52,17504,15755,1133,231,52,18471
8,May,20052,20052,20052,14182,14179,15311,15311,15311,13897,...,16705,1251,270,65,20049,18427,1326,282,69,20052
9,November,19315,19315,19315,12004,12002,13224,13224,13224,12852,...,12873,1161,317,61,19189,15770,1341,383,74,19315
10,October,19666,19666,19666,12225,12224,12363,12363,12363,12914,...,13349,1221,339,77,19526,16050,1380,392,87,19666
11,September,19492,19492,19492,12081,12079,3036,3036,3036,12290,...,14118,1285,353,73,19370,16523,1424,404,85,19492

In [32]:
# Dropping all the unwanted columns from the dataframe
df_NY.drop(df_NY.columns[[3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]], axis=1, inplace=True)

In [33]:
df_NY.drop(df_NY.columns[[2]], axis=1, inplace=True)

In [34]:
#renaming the columns in df_NY dataframe
df_NY.columns = ['Month','New York']

In [35]:
# Taking only the values from the datframe df_2 where Borough is Manhattan
df_2=df_1[df_1.BOROUGH=='MANHATTAN']

In [36]:
#Grouping the dataset df_2 by Month
df_Manhattan=df_2.groupby('Month').count().reset_index()

In [37]:
df_Manhattan.drop(df_Manhattan.columns[[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]], axis=1, inplace=True)

In [38]:
df_Manhattan.columns = ['Month','Manhattan']

In [39]:
# Joining the 2 datasets df_NY and df_Manhattan on Month column
result = df_NY.join(df_Manhattan.set_index('Month'), on='Month')

In [47]:
#Calculating the Percentage of collisions that took place in Manhattan by total collision in NY during the year 2016
result['Percentage']=result['Manhattan']/result['New York']

In [48]:
#Storing the result in csv
result.to_csv('Question1_Part1_Vehicle.csv')

In [49]:
result.head()

      Month  New York  Manhattan  Percentage
0     April     18331       3540    0.193115
1    August     19678       2844    0.144527
2  December     19214       2634    0.137088
3  February     15985       3195    0.199875
4   January     18101       3178    0.175570